---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test project">
	<main>
		<h1 class="title">Главная страница</h1>
	</main>
</Layout>


<style is:global>
	.title {
		font-size: 20px;
		color: red;
		margin: 0;
	}
</style>